
# PlanAhead Generated physical constraints 

NET "Q[0]" LOC = U18;
NET "Q[1]" LOC = M14;
NET "Q[2]" LOC = N14;
NET "Q[3]" LOC = L14;

NET "Q[4]" LOC = M13;
NET "Q[5]" LOC = D4;
NET "Q[6]" LOC = P16;
NET "Q[7]" LOC = N12;

NET "CK" LOC = L15;
